.floating {
  position: relative;
  background-color: white;
  z-index: 1;
}
.floating label {
  position: absolute;
  left: 4px;
  top: 10px;
  z-index: 2;
  transition: 0.15s;
  z-index: 1;
}
.floating label:focus-within {
  position: absolute;
  top: -25px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 25px;
  padding: 0 10px;
  transition: 0.15s;
}
.floating input {
  background-color: transparent;
  position: relative;
  left: 0;
  top: 0;
  border: none;
  height: 40px;
  width: 225px;
  border-bottom: 3px solid transparent;
  z-index: 2;
}
.floating input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 3px solid blueviolet;
}
.floating input:not(:-moz-placeholder-shown) + label {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 2;
  background-color: rgba(137, 43, 226, 0.548);
  color: white;
  border-radius: 25px;
  padding: 0 10px;
  -moz-transition: 0.15s;
  transition: 0.15s;
}
.floating input:not(:-ms-input-placeholder) + label {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 2;
  background-color: rgba(137, 43, 226, 0.548);
  color: white;
  border-radius: 25px;
  padding: 0 10px;
  -ms-transition: 0.15s;
  transition: 0.15s;
}
.floating input:focus + label, .floating input:not(:placeholder-shown) + label {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 2;
  background-color: rgba(137, 43, 226, 0.548);
  color: white;
  border-radius: 25px;
  padding: 0 10px;
  transition: 0.15s;
}
.floating input:not(:-moz-placeholder-shown) {
  border-bottom: 3px solid #8a2be2;
}
.floating input:not(:-ms-input-placeholder) {
  border-bottom: 3px solid #8a2be2;
}
.floating input:not(:placeholder-shown) {
  border-bottom: 3px solid #8a2be2;
}
.floating input::-moz-placeholder {
  color: transparent;
}
.floating input:-ms-input-placeholder {
  color: transparent;
}
.floating input::placeholder {
  color: transparent;
}

.select {
  width: 225px;
  height: 50px;
  position: relative;
  z-index: 5;
}
.select__chosen {
  font-size: large;
  color: rgb(255, 255, 255) !important;
  border: 1px solid blueviolet;
  text-shadow: 1px 1px blueviolet;
  background-color: black;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.select__arrow {
  transform: rotate(0.25turn) scale(1.5, 2.35);
  text-shadow: 2px 0px blueviolet;
  color: white;
}
.select__menu {
  transform: translate(0, -50%) scale(1, 0.0001);
  transition: 0.5s;
  height: 300px;
  position: relative;
  overflow-y: scroll;
}
.select__menu::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 25px;
}
.select__menu::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: black;
}
.select__menu--opened {
  transform: scale(1, 1);
  transition: 0.5s;
  height: 300px;
  position: relative;
  overflow-y: scroll;
}
.select__menu--opened::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 25px;
}
.select__menu--opened::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: black;
}
.select__item {
  padding: 12px;
  top: 0;
  position: relative;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.select__item:hover {
  background-color: rgb(79, 79, 79);
}
.select__item--checked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: blueviolet;
  position: absolute;
  right: 10px;
}
.select__item--checked::before {
  width: 7px;
  height: 2px;
  background-color: white;
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;
  transform: rotate(45deg);
}
.select__item--checked::after {
  width: 12px;
  height: 2px;
  background-color: white;
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  transform: rotate(120deg);
}

.loader {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__content {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid blueviolet;
  position: relative;
  -webkit-animation: rotate 0.8s infinite;
          animation: rotate 0.8s infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 1, 1, 1);
          animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.loader__content::after {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.9);
  content: "";
  height: 15px;
  width: 4px;
  top: 10px;
  left: -3px;
  z-index: 2;
}
.loader__content::before {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.9);
  content: "";
  height: 15px;
  width: 4px;
  top: 10px;
  right: -3px;
  z-index: 2;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, rgba(43, 43, 43, 0.8) 0%, rgba(29, 29, 29, 0.8) 100%), url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1061&q=80);
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.wrapper__content {
  padding-top: 20px;
  width: 100%;
  z-index: 0;
  height: auto;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
}
.wrapper__content .receipt-animate {
  -webkit-animation: roll 0.6s ease-in forwards;
          animation: roll 0.6s ease-in forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.wrapper__content__receipt {
  height: 0vh;
  width: 200px;
  color: transparent;
  background-color: rgb(226, 226, 226);
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper__content__receipt__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 15px;
  left: 15px;
  width: 100%;
  margin-top: 30px;
}
.wrapper__content__receipt__details__remarks {
  display: flex;
  flex-direction: column;
}
.wrapper__content__receipt__details__price {
  display: flex;
  flex-direction: column;
}
.wrapper__content__receipt h3 {
  text-align: center;
  color: black;
}
.wrapper__content__receipt h5 {
  text-align: center;
}
.wrapper__content__cups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrapper__content__cups .chosenCup {
  background-color: rgb(159, 238, 159) !important;
}
.wrapper__content__cups__cup {
  margin: 10px;
  height: 120px;
  width: 120px;
  border: 5px solid black;
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}
.wrapper__content__cups__cup:hover {
  background-color: white;
}
.wrapper__content__cups__cup img {
  padding: 20px 10px;
  width: 100px;
}
.wrapper__content__boolean {
  margin: 0 auto;
  width: 30px;
  height: 10px;
  border: none;
  background-color: rgba(128, 128, 128, 0.164);
  position: relative;
}
.wrapper__content__boolean div {
  position: absolute;
  left: -8px;
  top: -5px;
  background-color: rgb(199, 183, 183);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
}
.wrapper__content__boolean .activated {
  background-color: rgb(86, 179, 86);
  left: 17px;
  transition: 0.3s;
}
.wrapper__content .highlight {
  width: 8px;
  height: 8px;
  background-color: white;
}
.wrapper__content__dots {
  display: flex;
  align-items: center;
  padding: 35px 0;
}
.wrapper__content__dots__dot {
  width: 6px;
  height: 6px;
  background-color: rgb(207, 207, 207);
  position: relative;
  margin: 5px 15px;
  border-radius: 5px;
}
.wrapper__content h1 {
  color: rgb(241, 241, 241);
  text-shadow: 1px 2px blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__content h2 {
  color: rgb(241, 241, 241);
  text-shadow: 1px 2px blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__content form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
}
.wrapper__content .submitBtn {
  width: 225px;
  height: 40px;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px blueviolet;
  background-color: black;
  border: 1px solid blueviolet;
  margin: 0 auto;
}
.wrapper__content .submitBtn:hover {
  background-color: rgb(27, 27, 27);
  cursor: pointer;
}

@-webkit-keyframes roll {
  0% {
    height: 0vh;
  }
  50% {
    height: 25vh;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    height: 35vh;
    color: black;
  }
}

@keyframes roll {
  0% {
    height: 0vh;
  }
  50% {
    height: 25vh;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    height: 35vh;
    color: black;
  }
}/*# sourceMappingURL=index.css.map */